################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/ColorPicker2/v15/Server/sqlite3
*.sqlite
*.pfx
